*~
*.swp
*.swo
*.log
__pycache__
.coverage
.DS_Store
.pytest_cache
.test-results
.tox
.venv
token.pickle
testdata
todo.txt
config.toml
credentials.json
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform/lambda/build
terraform/lambda/lambda/
